{% load static %}

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cambia tu contraseña</title>
    <link rel="stylesheet" href="{% static 'css/login_registro_style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  
  <h2>Cambiar Contraseña</h2>
{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}
{% if success %}
<p style="color:green">{{ success }}</p>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <input type="password" name="password" placeholder="Nueva contraseña" required>
    <button type="submit">Cambiar contraseña</button>
</form>
  </body>
</html>
