{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Test GAD-7</title>
  <link rel="stylesheet" href="{% static 'css/test_gad7_phq9.css' %}" />
</head>
<body>
  <div class="form-container">
    <h1 class="titulo">Test GAD-7: Ansiedad</h1>
    <form action="/gad7_enviar/" method="post">
      {% csrf_token %}

      {% for pregunta in preguntas %}
      <div class="pregunta">
        <label for="q{{ forloop.counter }}">
          <strong>{{ forloop.counter }}. En los últimos 14 días, ¿con qué frecuencia has sentido…?</strong>
          <span class="descripcion">{{ pregunta }}</span>
        </label>
        <select name="q{{ forloop.counter }}" id="q{{ forloop.counter }}" required>
          <option value="">Selecciona una opción</option>
          <option value="0">Nunca</option>
          <option value="1">Varios días</option>
          <option value="2">Más de la mitad de los días</option>
          <option value="3">Casi todos los días</option>
        </select>
      </div>
      {% endfor %}


      <button type="submit">Enviar respuestas</button>

      <div class="volver">
        <a href="/oficial" class="link">Volver</a>
      </div>
    </form>
  </div>
</body>
</html>
