<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crear usuario</title>
  </head>
  <body>
    <form action="/usercreate/" method="POST">
        {% csrf_token %}
        <h1 class="titulo">Ingresa tus datos</h1>

         <label for="nombre">
            <input name="nombre" placeholder="nombre" type="text" id="nombre" required>
        </label>

        <label for="email">
            <input name="email" placeholder="Correo" type="text" id="email" required>
        </label>

        <label for="password">
            <input name="password" placeholder="Contraseña" type="password" id="password" required>
        </label>

        <a href="#" class="link"> usa el link para algo a futuro </a>
        <button type="submit" id="button">Crear</button>
    </form>
  </body>
</html>
