{% load static %}

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio sesión</title>
  <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
  </head>
  
  <body>
    <div class="form-container">
      <form action="/ingresar/" method="POST">
          {% csrf_token %}
          <h1 class="titulo">Iniciar sesión</h1>

          <label for="email">
              <input name="email" placeholder="Correo" type="text" id="email" required>
          </label>

          <label for="password">
              <input name="password" placeholder="Contraseña" type="password" id="password" required>
          </label>

          <button type="submit" id="button">Iniciar sesión</button>
      </form>
      <a href="crear/" class="link">¿No tienes cuenta? Regístrate</a>
    </div>
  </body>
</html>
